body {
    min-width: 550px;
    line-height: 1.5;
    font-size: 14px;
}

.enable-box {
    line-height: 2em;
    font-size: 15px;
}

.text-bold {
    font-weight: bold;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.inline-list li {
    display: inline-block;
}

.inline-list a {
    padding-right: 10px;
}

.fixed-list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}

.log-filter {
    padding: 5px;
    width: 275px;
}

.log-list {
    margin: 10px 0;
    padding: 0 0 40px 20px;
}
