body {
    min-width: 350px;
    line-height: 1.5;
    font-size: 14px;
}

.enable-box {
    line-height: 2em;
    font-size: 15px;
}

.inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.inline-list li {
	display: inline-block;
}

.inline-list a {
	padding-right: 10px;
}
