.xbm-x-dw .x-sidebar {
    padding: 20px 0;
    vertical-align: top;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    width: 205px;
    max-width: 205px;
}

.xbm-x-dw .x-sidebar h4 {
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.xbm-x-dw .x-sidebar .content {
    width: auto;
}

.xbm-x-dw .x-sidebar .bm-menu-head {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1;
}

.xbm-x-dw .x-sidebar .bm-menu-head:before {
  display: none;
}

.xbm-x-dw .x-sidebar .bm-menu-head a {
    display: block;
    padding: 7px 10px;
    color: #000;
}

.xbm-x-dw .x-sidebar .bm-menu-head a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #31A4D2;
    width: 5px;
    height: 100%;
}

.xbm-x-dw .x-sidebar .bm-menu-head a:hover {
    background: #eee;
    text-decoration: none;
}

.xbm-x-dw .x-sidebar .bm-menu-section {
    margin: 0;
}

.xbm-x-dw .x-sidebar .menu_items_bm {
    display: none;
    position: absolute;
    left: 60%;
    top: 0;
    background: #fff;
    width: 200px;
    box-shadow: 0 0 2px #ccc;
    border: 1px solid #e1e1e1;
    z-index: 10;
}

.xbm-x-dw [section-name="site-prefs"] .menu_items_bm {
    top: auto;
    bottom: -100px;
}

.xbm-x-dw .x-sidebar .x-admin .menu_items_bm {
    top: auto;
    bottom: -100%;
}

.xbm-x-dw .x-sidebar .section-name:hover .menu_items_bm {
    display: block;
}

.xbm-x-dw .x-sidebar .menu_items_bm a {
    display: block;
    padding: 5px 10px;
}

.xbm-x-dw .x-search input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.xbm-x-dw .x-search {
    padding: 0 10px;
}

.xbm-x-dw .bm-site-navigation-menus .x-search {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.xbm-x-dw .autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.xbm-x-dw .autocomplete-suggestion { padding: 2px 5px 2px 15px; white-space: nowrap; overflow: hidden; }
.xbm-x-dw .autocomplete-no-suggestion { padding: 2px 5px;}
.xbm-x-dw .autocomplete-selected { background: #F0F0F0; }
.xbm-x-dw .autocomplete-suggestions strong { font-weight: bold; color: #000; }
.xbm-x-dw .autocomplete-group { padding: 2px 5px; }
.xbm-x-dw .autocomplete-group strong { font-weight: bold; font-size: 12px; color: #000; display: block; border-bottom: 1px solid #000; }

.xbm-x-dw .x-dw-buttons-table {
    position: fixed;
    width: auto;
    z-index: 999999;
    background-color: white;
    bottom: 0px;
    border: 0;
    right: 5px;
    box-shadow: 0 0 5px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

.xbm-x-dw .x-dw-buttons-table .button {
    margin: 0 10px;
}


.xbm-x-dw .x-dw-table-detail > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .07);
}

.xbm-x-dw .x-dw-active-row > tbody > tr > td {
    background-color: #EBEBEB;
}

.xbm-x-dw [name="updateORG"] {
    word-break: break-all;
}

#requestLogGrid div {
    font-size: 15px;
    line-height: 1.3;
}

