body {
    color: #fff;
}

.headline {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    padding-bottom: 20px;
}
.headline small {
    font-size: 10px;
    font-weight: normal;
}


.checkbox {
    width: 15px;
    height: 15px;
}

select, button {
    padding: 5px 10px;
}


